
//******** Inicia para las categorias*************  

 .categorias-contenedor {
    display: flex;
    max-height: 500px; 
    overflow-y: scroll;
    // background-color: green;
    // background-color: rgba(128, 128, 128, 0.058); 
    background-color: hsla(0, 0%, 0%, 0.04);
    padding: 0;
    justify-content: space-around;
    position: fixed;
    top: 6.1%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  
  .iconos {
    color: #333;          
    margin-bottom: 8px;      
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;

  }
  
  .categoria {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    margin: 10px;
    border-radius: 50%;
    
  }
  
  .categoria-label {
    margin-top: 8px;        
    text-transform: none;   
    white-space: normal; 
    text-align: center; 
    color: black;
  }
  
  
  // Ocultar el scrollbar en navegadores
  .categorias-contenedor{
    /*Edge*/
    -ms-overflow-style: none;
    /*Firefox */
    scrollbar-width: none;
 }

 /*Chrome y Safari*/
 .categorias-contenedor::-webkit-scrollbar {
   display: none;
 }


  

 
  