.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.titulo {
    color: red;
    display: flex;
    justify-content: center;
    // color:white;
    // box-shadow: 
    // 0 0 10px cyan,
    // 0 0 20px cyan,
    // 0 0 40px cyan,
    // 0 0 80px cyan,
}

.registrarse {
    display: flex;
    justify-content: space-evenly;
}