/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/*Para iconos de ionic*/
 @import '~@fortawesome/fontawesome-free/css/all.min.css';

/*Para la tipografia*/
@import '~typeface-lato/index.css';


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.btn-guardar{
  background-color: #34502b;
  color:white;
}

.btn-eliminar{
  background-color:#941f1f;
  color: white;
}

.fondo-rojo2 {
  --background-color: #941f1f;
}

.fondo-rojo {
  --background: #ce6b5d;
}

.fondo-beich {
  --background: #ffefb9;
}

.fondo-verde {
  background: #7b9971;
}

.fondo-verde2 {
  background: #34502b;
}



.colores{
color: #941f1f ;
color: #ce6b5d ;
color: #ffefb9 ;
color: #7b9971 ;
color: #34502b ;
}